body {
    margin: auto;
    width: 75%;
    text-align: center;
    font-family:  'Open Sans', sans-serif;
    background-image: url("../images/crystalbackground.jpg");
    /* Photo by Jonny Lew from Pexels */
    background-size: 100vw;
}



/* Color Theme Swatches in RGBA */
/* .Amethyst-crystals-close-up.-Druze-within-a-very-large-geode.-1-rgba { color: rgba(101, 51, 114, 1); }
.Amethyst-crystals-close-up.-Druze-within-a-very-large-geode.-2-rgba { color: rgba(128, 41, 165, 1); }
.Amethyst-crystals-close-up.-Druze-within-a-very-large-geode.-3-rgba { color: rgba(112, 47, 140, 1); }
.Amethyst-crystals-close-up.-Druze-within-a-very-large-geode.-4-rgba { color: rgba(176, 141, 191, 1); }
.Amethyst-crystals-close-up.-Druze-within-a-very-large-geode.-5-rgba { color: rgba(127, 32, 191, 1); } */


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

h1 {
    font-family:'Berkshire Swash', cursive;
    font-size: 30px;
    padding: 30px;
    color: lightgray;;
}

header {
    background-color: #4F4D8C;
    width: 100%;
}

div.game {
    background-color: rgba(176, 141, 191, .5);
    padding: 25px;
}

div.crystal {
    width: 175px;
    height: 175px;
    background-color: white;
    display: inline-block;
    border: 2px solid rgba(101, 51, 114, 1);
    border-radius: 5%;
    margin: 2px;
    vertical-align: middle;
}

.crystal img {
    width: 95%;
}

#target-number {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    color: whitesmoke;
}

.total-score {
    width: 50%;
    height: 150px;
    float: left;
    padding: 20px
}

.score {
    float: right;
    width: 50%;
}